.smb-warning {
  max-width: auto;
  margin: 1em;
  padding: 10px 10px 10px 36px;
  border: 1px solid #d04437;
  border-radius: 5px;
  background-color: #fff8f7;
}

.smb-mention {
  max-width: auto;
  margin: 1em;
  padding: 10px 10px 10px 36px;
  border: 1px solid #f5f6fa;
  border-radius: 5px;
  background-color: #f5f6fa;
}

.smb-info {
  max-width: auto;
  margin: 1em;
  padding: 10px 10px 10px 36px;
  border: 1px solid #ffeaae;
  border-radius: 5px;
  background-color: #fffdf6;
}

.smb-info-green {
  max-width: auto;
  margin: 1em;
  padding: 10px 10px 10px 36px;
  border: 1px solid #aeffae;
  border-radius: 5px;
  background-color: #f6fff9;
}
